<div class="d-grid gap-1 col-4 mx-auto">
   <h1>Mobile Market</h1>
   <p class="text-decoration-underline fw-bold">Mobile Market Product:</p>
</div>
  <div class="list-group d-grid gap-2 col-4 mx-auto">
    <ul>
        <% @bike_markets.each do |bike_market| %>
        <li class="list-group-item list-group-item-action">
            <%= link_to bike_market.Brand_name, bike_market %>
        </li>
        <% end %>
    </ul>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "Add New", new_bike_market_path %>
    </button>
  </div>
</div>
