<div class="d-grid gap-1 col-4 mx-auto">
   <h1>Garments Market</h1>
   <p class="text-decoration-underline fw-bold">Garments Market :</p>
</div>
  <div class="list-group d-grid gap-2 col-4 mx-auto">
    <ul>
        <% @garment_markets.each do |garment_market| %>
        <li class="list-group-item list-group-item-action">
            <%= link_to garment_market.Brand_name, garment_market %>
        </li>
        <% end %>
    </ul>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "Add New Item", new_garment_market_path %>
    </button>
  </div>
</div>
